<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="shortcut icon" type="image/png" href="http://icons.iconarchive.com/icons/fps.hu/free-christmas-flat-circle/512/gift-icon.png"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
   
  <link rel='stylesheet' href='https://bootswatch.com/3/flatly/bootstrap.min.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  {{> header }}
  <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="
    crossorigin="anonymous"></script>
  <div class="container">
    {{{body}}}
    <div class="container"></div>
  </div>

  {{!-- FOOTER --}}
  <footer id="fh5co-footer" class="fh5co-bg navbar-fixed-bottom" role="contentinfo">
    <div class="overlay"></div>
    <div class="container">
      <div class="row row-pb-md">
        <div class="col-md-12 fh5co-widget text-center"> 
          <h3>Karta podarunkowa</h3> 
          <p style="max-width: 300px; margin: 15px auto;">Dołącz do nas, aby otrzymywać bonusy i bądź na bieżąco z najnowszymi wiadomościami i sugestiami!</p>
          <p>
            <a class="btn btn-primary" href="/contacts">Zostań członkiem</a>
          </p>
        </div>
      <div class="row copyright">
        <div class="col-md-12 text-center">
          <p>
            <small class="block">&copy; 2017 - 2018 | All Rights Reserved.</small>
            <small class="block">Zasilane przeze mnie i moje wysiłki.</small>
          </p>
        </div>
      </div>

    </div>
  </footer>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous"></script>
</body>

</html>