.thumbnail img {
  max-height: 150px;
}

.thumbnail .description {
  color: #7f7f7f;
  min-height: 85px;
  overflow: hidden;
}
.thumbnail .caption {
  text-align: center;
  padding: 9px;
  color: #2c3e50;
}
.price {
  font-weight: bold;
  font-size: 16px;
}
.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    display: block;
    max-width: 100%;
    margin: auto;
}
.carousel-control.left {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0) 0,rgba(0,0,0,.0001) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0) 0,rgba(0,0,0,.0001) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0)),to(rgba(0,0,0,.0001)));
    background-image: linear-gradient(to right,rgba(0,0,0,.0) 0,rgba(0,0,0,.0001) 100%);
}
.carousel-control.right {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0) 0,rgba(0,0,0,.0001) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0) 0,rgba(0,0,0,.0001) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0)),to(rgba(0,0,0,.0001)));
    background-image: linear-gradient(to right,rgba(0,0,0,.0) 0,rgba(0,0,0,.0001) 100%);
}
.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    display: block;
    max-width: 100%;
    height: 500px;
}
.fh5co-bg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.fh5co-bg {
  background-size: cover;
  background-position: center center;
  position: relative;
  width: 100%;
  float: left;
}
.fh5co-bg .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.fh5co-bg-section {
  background: rgba(0, 0, 0, 0.05);
}

#fh5co-footer {
  padding: 7em 0;
  clear: both;
}
@media screen and (max-width: 768px) {
  #fh5co-footer {
    padding: 3em 0;
  }
}

#fh5co-footer {
  position: relative;
}
#fh5co-footer .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#fh5co-footer h3 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
}
#fh5co-footer .fh5co-footer-links {
  padding: 0;
  margin: 0;
}
#fh5co-footer .fh5co-footer-links li {
  padding: 0;
  margin: 0;
  list-style: none;
}
#fh5co-footer .fh5co-footer-links li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
#fh5co-footer .fh5co-footer-links li a:hover {
  text-decoration: underline;
}
#fh5co-footer .fh5co-widget {
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  #fh5co-footer .fh5co-widget {
    text-align: left;
  }
}
#fh5co-footer .fh5co-widget h3 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#fh5co-footer .copyright .block {
  display: block;
}

.btn-primary {
  background: #F85A16;
  color: #fff;
  border: 2px solid #F85A16;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #f96c2f !important;
  border-color: #f96c2f !important;
}
.btn-primary.btn-outline {
  background: transparent;
  color: #F85A16;
  border: 1px solid #F85A16;
}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
  background: #F85A16;
  color: #fff;
}
.carousel {
    position: relative;
    margin: 50px 0;
}
.section-heading {
  margin: 50px 0;
}
.navbar {
    border-width: 0;
    padding: 13px 0;
}
footer {
  margin-top: 50px;
}


.tech p {
  font-style: italic;
  font-size: small;
  color: #0091D4;
  text-align: center;
}

.social {
  margin: 0;
  padding: 0;
  text-align: center;
}

.social ul {
  margin: 0;
  padding: 5px;
}

.social ul li {
  margin: 5px;
  list-style: none outside none;
  display: inline-block;
}

.social i {
  width: 40px;
  height: 40px;
  color: #FFF;
  background-color: #909AA0;
  font-size: 22px;
  text-align: center;
  padding-top: 12px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}

.social i:hover {
  color: #FFF;
  text-decoration: none;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}

.social .fa-facebook:hover {
  /* round facebook icon*/
  background: #4060A5;
}

.social .fa-twitter:hover {
  /* round twitter icon*/
  background: #00ABE3;
}

.social .fa-google-plus:hover {
  /* round google plus icon*/
  background: #e64522;
}

.social .fa-github:hover {
  /* round github icon*/
  background: #343434;
}

.social .fa-pinterest:hover {
  /* round pinterest icon*/
  background: #cb2027;
}

.social .fa-linkedin:hover {
  /* round linkedin icon*/
  background: #0094BC;
}

.social .fa-flickr:hover {
  /* round flickr icon*/
  background: #FF57AE;
}

.social .fa-instagram:hover {
  /* round instagram icon*/
  background: #375989;
}

.social .fa-vimeo-square:hover {
  /* round vimeo square icon*/
  background: #83DAEB;
}

.social .fa-stack-overflow:hover {
  /* round stack overflow icon*/
  background: #FEA501;
}

.social .fa-dropbox:hover {
  /* round dropbox icon*/
  background: #017FE5;
}

.social .fa-tumblr:hover {
  /* round tumblr icon*/
  background: #3a5876;
}

.social .fa-dribbble:hover {
  /* round dribble icon*/
  background: #F46899;
}

.social .fa-skype:hover {
  /* round skype icon*/
  background: #00C6FF;
}

.social .fa-stack-exchange:hover {
  /* round stack exchange icon*/
  background: #4D86C9;
}

.social .fa-youtube:hover {
  /* round youtube icon*/
  background: #FF1F25;
}

.social .fa-xing:hover {
  /* round xing icon*/
  background: #005C5E;
}

.social .fa-rss:hover {
  /* round rss icon*/
  background: #e88845;
}

.social .fa-foursquare:hover {
  /* round foursquare icon*/
  background: #09B9E0;
}

.social .fa-youtube-play:hover {
  /* round youtube play button icon*/
  background: #DF192A;
}

.product-title {
  min-width: 500px; 
}