<!-- section begin -->
<section id="section-about" class="bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <img src="https://i.imgur.com/Ax71ngT.png" alt="about image" class="img-responsive">
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="about-box">
                    <h2 class="box-title">Jesteśmy Kompaktowi</h2>
                    <div class="tiny-border"></div>
                    <p>Jesteśmy firmą, która tworzy oryginalne zestawy prezentów dla Pań i Panów. Na naszej stronie znajdziesz wiele ciekawych prezentów dla swoich bliskich. Mamy nadzieję, że zobaczymy się tu nie po raz ostatni. Gwarantujemy zadowolenie i pełną satysfakcję.</p>
                    <p1>Co będzie można znaleźć tutaj:</p1>
                    <ul class="list-style-1">
                        <li>Przyjazny interfejs użytkownika</li>
                        <li>Wielki wybór prezentów</li>
                        <li>Niezawodność platformy</li>
                        <li>Latwość rejestracji</li>
                        <li>Szybka i wygodna płatność</li>
                    </ul>
                    <div class="divider-single"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section close -->
<div class="container about">
    <div class="jumbotron">
        <h3>
            <span id="about"></span>O:</h3>
        <p>Nazywam się Maksym Brylkov. SOHM Studios jest parasolem, w ramach którego powstanie moja strona internetowa i aplikacja. To portfolio jest żywym dokumentem, który będzie aktualizowany w miarę upływu czasu od moich umiejętności. Obecnie pracuję nad Free Code Camp, aby poprawić moje umiejętności związane z rozwijaniem sieci.
        </p>
    </div>
</div>

<!-- https://www.w3schools.com/bootstrap/bootstrap_navbar.asp -->
<div class="social">
    <ul>
        <li>
            <a href="https://www.facebook.com/makemygiftservice" target="_blank">
                <i class="fa fa-lg fa-facebook"></i>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/makemygift_/" target="_blank">
                <i class="fa fa-lg fa-instagram"></i>
            </a>
        </li>
    </ul>
</div>
</div>
</div>