<!-- contact -->
<section id="contact">
    <div class="container">
        <h3>Nie będę gryzł, obiecuję.
            <small>Nie naprawdę!</small>
        </h3>
        <div class="row">
            <div class="col-sm-5">
                <p>Skontaktuj się ze mną, a skontaktuję się z tobą w ciągu jednego dnia.</p>
                <p>
                    <i class="glyphicon glyphicon-map-marker"></i> Warszawa, Polska</p>
                <p>
                    <i class="glyphicon glyphicon-phone"></i> +8-800-555-35-35</p>
                <p>
                    <i class="glyphicon glyphicon-envelope"></i> email@domain.com</p>
            </div>
           
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d432.72478441635656!2d21.03474247284725!3d52.15503687706322!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTLCsDA5JzE4LjEiTiAyMcKwMDInMDYuMiJF!5e0!3m2!1sru!2spl!4v1525147065445"
                    width="100%" height="500" frameborder="0" style="border:0"></iframe>
           
        </div>
    </div>
</section>
<div class="social">
    <ul>
        <li>
            <a href="https://www.facebook.com/makemygiftservice" target="_blank">
                <i class="fa fa-lg fa-facebook"></i>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/makemygift_/" target="_blank">
                <i class="fa fa-lg fa-instagram"></i>
            </a>
        </li>
    </ul>
</div>