<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <div id="success" class="alert alert-success" {{#if noMessages}}hidden{{/if}}>
            {{ successMsg }}
        </div>
    </div>
</div>

{{!-- SLIDER --}}
<div class="row container">
    <div id="myCarousel" class="carousel slide" style="height: 500px" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item">
                <img src="https://i.imgur.com/Ev4bTTN.jpg" height="500px" width="auto" alt="Los Angeles">
            </div>

            <div class="item">
                <img src="https://i.imgur.com/5cKqB08.jpg" height="500px" width="auto" alt="Chicago">
            </div>

            <div class="item active">
                <img src="https://i.imgur.com/J95Bsfh.jpg" height="500px" width="auto" alt="New York">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="container">
    <h2 class='text-center section-heading'>Naszę oferty:</h2>
</div>
{{# each products }}
<div class="row">
    {{# each this }}
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="{{ this.imagePath }}" alt="..." class="img-responsive">
            <div class="caption">
                <h3>{{ this.title }}</h3>
                <p class="description">{{ this.description }}</p>
                <div class="clearfix">
                    <div class="price pull-left">${{ this.price }}</div>
                    <a href="/add-to-cart/{{this.id}}" class="btn btn-success pull-right" role="button">Add to Shopping Cart</a>
                    <a href="/products/{{this.id}}" class="btn btn-primary pull-right" style="margin-right: 5px" role="button">More</a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{/each}}