
<div class="row">
    <div class="col-sm-6 col-md-4">
        <h1 class="product-title">{{ product.title }}</h1>
            <img src="{{ product.imagePath }}" height="350px" width="auto" alt="..." >
            
    </div>
    
    <p class="description text-left" style="margin-top: 100px">
        <h1 class="text-left">${{ product.price }} </h1>
         <p style="font-size: 25px"> {{ product.description }} </p>
    </p>
    <div class="clearfix">
        <a href="/add-to-cart/{{product._id}}" class="btn btn-success pull-left" role="button">Add to Shopping Cart</a>
    </div>
</div>
<div class="container">
    <h2 class='text-center section-heading'>Inne oferty:</h2>
</div>
{{# each products }}
<div class="row">
    {{# each this }}
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="{{ this.imagePath }}" alt="..." class="img-responsive">
            <div class="caption">
                <h3>{{ this.title }}</h3>
                <p class="description">{{ this.description }}</p>
                <div class="clearfix">
                    <div class="price pull-left">${{ this.price }}</div>
                    <a href="/add-to-cart/{{this._id}}" class="btn btn-success pull-right" role="button">Add to Shopping Cart</a>
                    <a href="/products/{{this._id}}" class="btn btn-primary pull-right" style="margin-right: 5px" role="button">More</a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{/each}}