{{# if products }}
<div class="row">
    <div class="col-sm-6 col-md-6 cold-md-offset-3 col-sm-offset-3">
        <ul class="list-group">
            {{# each products }}
                <li class="list-group-item">
                <span class="badge">{{ this.qty }}</span>
                <strong>{{ this.item.title }}</strong>
                <span class="label label-success">${{ this.price }}</span>
                <div class="btn-group">
                    <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown">Action <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="/reduce/{{this.item._id}}">Reduce by 1</a></li>
                        <li><a href="/remove/{{this.item._id}}">Remove All</a></li>
                    </ul>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div> 
<div class="row">
    <div class="col-sm-6 col-md-6 cold-md-offset-3 col-sm-offset-3">
        <strong>Total: ${{ totalPrice }}</strong>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-6 col-md-6 cold-md-offset-3 col-sm-offset-3">
        <a href="/checkout" type="button" class="btn btn-success">Checkout</a>
    </div>
</div>
{{ else }}
<div class="row">
    <div class="col-sm-6 col-md-6 cold-md-offset-3 col-sm-offset-3">
        <h2>No Items in Cart</h2>
    </div>
</div>  
{{/if}}

 